
* {
    box-sizing: border-box;
}

header, main {
    font-family: 'Raleway', sans-serif;
}

/* Search header */

header {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: left;
}

#header-container {
    position: relative;
    top: 10%;
    height: fit-content;
}

h1, h2, p, #search-button {
    color: #191919;
}

h1 {
    font-family: 'Comfortaa', display;
    font-size: 45px;
}

#sub-header {
    font-size: 23px;
    position: relative;
    top: -25px;
    font-weight: 500;
}

p {
    font-size: 18px;
}

.intro {
    padding: 0 30px;
    position: relative;
    top: 15%;
    line-height: 1.25;
}

#search-container {
    position: relative;
    top: 15%;
}

#search-input {
    box-shadow: inset 0px 0px 6px -3px rgba(0,0,0,0.75), 0px 0px 15px -9px rgba(0,0,0,.8);
    border: 1px transparent;
    border-radius: 15px;
    padding: 5px 10px;
    width: 65%;
    margin-top: 5px;
    font-family: 'raleway';
    background-color: #dedede;
}

#search-input:focus {
    outline: none;
}

#search-button, .page-button, .button.generate-palette, #back-to-top {
    font-size: 20px;
    color: whitesmoke;
    display: block;
    margin: 15px auto;
    padding: 1px 15px;
    background-color: #3B7A8F;
    border-radius: 12px;
    border: 0;
    cursor: pointer;
}

#search-button:hover, .page-button:hover {
    background-color: #4C94AC;
}

#search-button:active, .page-button:active {
    background-color: #2B5A6A;
}

/* Header Particle Background */
canvas {
    display: block;
    vertical-align: bottom;
  }

  #particle-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Search Results Section */

#photo-loading {
    font-size: 20px;
    column-span: all;
    text-align: center;
}

#search-results {
    text-align: center;
    position: relative;
    min-height: 100vh;
    margin: 0 30px;
}

.photo-container {
    width: 100%;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px -2px;
}

.photo-container:hover {
    cursor: pointer;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.page-buttons {
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.page-button {
    display: inline-block;
    margin: 10px 5px;
}

/* Selected photo */

.target-photo-buttons p {
    line-height: normal;
    margin-top: 5px;
    padding: 0 2px;
}

a {
    text-decoration: none;
    color: #3B7A8F;
}

.button.generate-palette {
    display: initial;
    margin: 0 auto 15px;
    background-color: #9C5063;
    box-shadow: 0px 0px 7px -2px rgba(0,0,0,.7);  
}

.button.generate-palette:hover {
    background-color: #BC657B;
}

.button.generate-palette:active {
    background-color: #713C4A;
}

/* Color Palette Section */

#palette-loading {
    margin: auto;
}

#palette-loading p {
    font-size: 30px;
}

#back-to-top {
    margin: 0 auto;
    background-color: #9C5063;
}

#back-to-top:hover {
    background-color: #BC657B;
}

#back-to-top:active {
    background-color: #713C4A;
}

#color-palette {
    position: relative;
    padding-top: 30px;
    min-height: 100vh;
}

#back-to-top {
    position: absolute;
    top: 10px;
    right: 5px;
}

.palette {
    text-align: center;
}

h2 {
    margin-bottom: 5px;
}

.palette-header {
    padding-bottom: 5px;
}

.color {
    display: inline-block;
    position: relative;
}

.color-block {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: -2px;
}

.color-values {
    text-align: center;
    position: absolute;
    top: 34%;
    width: 100%;
}

.color-values p {
    margin: 5px;
    font-size: 17px;
}


/* Media Queries */

@media only screen and (min-width: 600px) {

    /*Header*/
    h1 {
        font-size: 60px;
        font-weight: 300;
    }

    h2 {
        font-size: 25px;
        top: -35px;
    }

    .intro {
        font-size: 22px;
    }

    #search-button {
        font-size: 20px;
    }

    .intro {
        max-width: 576px;
        margin: auto;
        top: 30%;
    }

    #photo-search-form {
        margin-top: 10px;
    }

    #search-container {
        top: 19%;
    }

    #search-input {
        border-radius: 30px;
        padding: 10px 10px;
        max-width: 325px;
    }

    #search-button {
        padding: 5px 12px;
        margin: 0 0 0 5px;
        display: inline-block;
        border-radius: 23px;
    }

    /* Search Results */

    #search-results {
        column-count: 2;
        column-gap: 15px;
        line-height: 0;
    }

    .photo-container {
        page-break-inside: avoid;
        break-inside: avoid;
    }

    #color-palette {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .color-palette-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 10px;
    }

    .palette {
        margin: 5px;
        text-align: left;
    }
}

@media only screen and (min-width: 800px) {
    #search-results {
        column-count: 3;
    }

    .target-image-container {
        max-width: 50%;
        max-height: 450px;
        margin: 10px auto;
        box-shadow: 0 10px 6px -6px #777;
    }

    img {
        max-height: 450px;
    }
}

@media only screen and (min-width: 1000px) {
    #search-results {
        column-count: 4;
    }
}

@media only screen and (min-width: 1200px) {
    #search-results {
        column-count: 5;
    }
}

/*

#search-results {
    column-count: 4;
    column-gap: 0;
    line-height: 0;
}



#color-palette {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.color-palette-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

*/