
* {
    box-sizing: border-box;
}

#search-results {
    column-count: 4;
    column-gap: 0;
    line-height: 0;
}

.photo-container {
    width: 100%;
    padding: 3px;
    page-break-inside: avoid;
    break-inside: avoid;
}

img {
    width: 100%;
}

.target-photo-buttons p {
    line-height: normal;
    margin-top: 5px;
}