
* {
    box-sizing: border-box;
}

#search-results {
    column-count: 4;
    column-gap: 0;
    line-height: 0;
}

.photo-container {
    width: 100%;
    padding: 3px;
    page-break-inside: avoid;
    break-inside: avoid;
}

img {
    width: 100%;
}

.target-photo-buttons p {
    line-height: normal;
    margin-top: 5px;
}

/* Color Palette Section */

#color-palette {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.color-palette-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.color {
    width: 100px;
    height: 100px;
    display: inline-block;
    float: left;
}

.target-image-container {
    max-width: 50%;
    margin: 25px auto;
}