
* {
    box-sizing: border-box;
}

/* Search header */

header {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: left;
}

/* Header Particle Background */
canvas {
    display: block;
    vertical-align: bottom;
  }

  #particle-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Search Results Section */

#photo-loading {
    font-size: 20px;
    column-span: all;
    text-align: center;
}

#no-results {
    position: absolute;
    left: 15px;
}

#search-results {
    text-align: center;
    position: relative;
}

.photo-container {
    width: 100%;
    padding: 3px;
}

.photo-container:hover {
    cursor: pointer;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.page-buttons {
    text-align: center;
    padding: 20px;
}

/* Selected photo */

.target-photo-buttons p {
    line-height: normal;
    margin-top: 5px;
}

/* Color Palette Section */

#palette-loading {
    font-size: 30px;
    margin: auto;
}

#color-palette {
    position: relative;
    padding-top: 30px;
    min-height: 100vh;
}

#back-to-top {
    position: absolute;
    top: 10px;
    right: 5px;
}

.palette {
    text-align: center;
}

.target-image-container {
    text-align: center;
    padding: 10px;
}

h2 {
    margin-bottom: 5px;
}

.color {
    display: inline-block;
}

.color-block {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: -2px;
}

.color-values {
    text-align: center;
}

.color-values p {
    margin: 5px;
}


/* Media Queries */

@media only screen and (min-width: 600px) {
    #search-results {
        column-count: 2;
        column-gap: 0;
        line-height: 0;
    }

    .photo-container {
        page-break-inside: avoid;
        break-inside: avoid;
    }

    #color-palette {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .color-palette-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 10px;
    }

    .palette {
        margin: 5px;
        text-align: left;
    }
}

@media only screen and (min-width: 800px) {
    #search-results {
        column-count: 3;
    }

    .target-image-container {
        max-width: 50%;
        max-height: 450px;
        margin: 10px auto;
    }

    img {
        max-height: 450px;
    }
}

@media only screen and (min-width: 1000px) {
    #search-results {
        column-count: 4;
    }
}

@media only screen and (min-width: 1200px) {
    #search-results {
        column-count: 5;
    }
}

/*

#search-results {
    column-count: 4;
    column-gap: 0;
    line-height: 0;
}



#color-palette {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.color-palette-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

*/